
#SearchBarForm {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    border: 1px lightgray solid;
    border-radius: 5px;
}

#SearchBarLabel {
    display: flex;
    align-items: left;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #222222;
    font-size: .60rem;
    border: 4px green solid;
}

#FaMagnifyingGlass {
    color: grey;
    background-color: transparent;
    margin: 0 .5rem 0 .5rem;
    padding: 0;
    font-size: small;
    border: grey 2px dotted;
}



#SearchBarInput {
    border: none;
    font-size: smaller;
    border: 2px dashed orange;
}

#SearchBarInput:active {
    border: none;
}

/* defaultValues {
    color: #6E6E6E;
} */
