


#SearchBarForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27rem;
    border: 1px lightgray solid;
    border-radius: 2.5px;
}



#SearchBarLabel {
    display: flex;
    align-items: left;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #222222;
    font-size: .60rem;
    /* border: 2px green solid; */
}

#FaMagnifyingGlass {
    color: grey;
    background-color: transparent;
    margin: 0 .5rem 0 .25rem;
    padding: .5rem .2rem .2rem .2rem;
    font-size: 1.75rem;
    /* border: grey 2px dotted; */
}

#SearchBarInput {
    border: none;
    font-size: small;
    width: 22rem;
    height: 2rem;
    border: none;
    margin: 0;
    padding: 0 0 0 .5rem;

}

#SearchBarInput:focus {
    outline: none;
    /* filter: drop-shadow(0rem 1rem 0.75rem rgb(37, 15, 67)); */
    /* width: 21rem; */
    /* padding: 0 1rem; */
    /* margin: 0 0 .1rem -0.5rem; */
}

#SearchBarButton {
    visibility: hidden;
    margin: 0;
    padding: 0;
    color: #222222;
    font-size: .5rem;
}

#SearchBarSuggestionsUl{
    list-style-type: none;
    position: absolute;
    margin-left: 0rem;
    width: 27rem;

    /* background: rgba(253, 253, 253, .75); */
    /* backdrop-filter: blur(3px) saturate(100%); */
    filter: drop-shadow(0rem 1rem 0.75rem rgba(37, 15, 67, .75));
    z-index: 3;
    /* border: 2px blue dashed; */
}

.SearchBarSuggestionsUlLi{
    margin-left: .65rem;
}

.SearchBarSuggestionsUlLiButton{
    font-style: italic;
    font-size: small;
    text-align: left;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 22rem;
    margin: 0 0 0 2.25rem;
    padding: .25rem .25rem .25rem .5rem;
    color: #551A8B;
    background: none;
    background: rgba(255, 255, 255, 1);
    border: none;

}

.SearchBarSuggestionsUlLiButton:hover{
    color: white;
    background-color: rgba(85, 26, 139, 1);
    cursor: pointer;
}
