# No need for DATABASE_URL to be set if developing from within a devcontainer
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres


DATABASE_URL=sqlite:///dev.db
FLASK_ENV=development
SECRET_KEY=super-secret-stuff
SCHEMA=flask_schema

