@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

#section-1-nu-home {
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Lato", sans-serif;
	color: #c8cbcd;
	gap: 50px;
	padding: 25px 50px 70px 50px;
}

.nu-headers,
.special-heading {
	-webkit-text-decoration: unset;
	text-decoration: unset;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(
		270deg,
		#4d3f72 2.68%,
		#c8cbcd 104.69%,
		#dfe0e5 61.25%
	);
	background-clip: text;
	text-wrap: balance;
}

#platinum-heading {
	font-size: 35px;
}

.special-heading {
	font-weight: 900;
	font-style: normal;
	font-size: 120px;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nu-headers h2 {
	font-size: 50px;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nu-text p{
	font-size: 20px;
      text-align: center;
      text-wrap: wrap;
}

#section-2-nu-home {
-webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: linear-gradient(74.84deg, #4D3F72 18.12%, #8A7C9C 81.46%);
    -webkit-background-size: cover;
    background-size: cover;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    height: 62px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    line-height: 18px;
    padding: 0px 25px;
    text-align: center;
}