#FlagDropdownMain{
    display: flex;
}

.FlagDropdownImg{
    width: 1.25rem;
    height: auto;

}

#FlagDropdownSelect{
    color: white;
    font-size: large;
    background-color: transparent;
    border: none;
}
