#NavigationStartButtonLogin {
  color: white;
  padding: 1rem 2rem;
  border: 1px white solid;
  border-radius: 25px;
  background-color: transparent;
  text-wrap: nowrap;
}

#NavigationStartButtonLogin:hover {
  color: #bfc0c6;
  border: 1px #bfc0c6 solid;
  cursor: pointer;
}
