#NavigationStartButtonSignup{
    color: black;
    padding: 1rem 2rem;
    border: 1px #4D3F72 solid;
    border-radius: 25px;
    background: linear-gradient(
		270deg,
		#4d3f72 2.68%,
		#c8cbcd 104.69%,
		#dfe0e5 61.25%
	);

}

#NavigationStartButtonSignup:hover{
    color: #BFC0C6;
    background-color: #5a4e7b;
    cursor: pointer;

}
