@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rock+3D&display=swap");

#delete-portfolio {
  display: flex;
  flex-direction: column;
  padding: 10%;
  width: 800px;
  gap: 15px;
}

#delete-portfolio h2 {
  font-family: "Lato", sans-serif;
  color: #4d3f72;
}

#portfolio-close-confirm {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  padding-bottom: 25px;
}

#portfolio-close-confirm h1 {
  color: #8a7c9c;
}

#delete-close-button {
  border: none;
  background: none;
  font-size: 30px;
}

.portfolio-delete-button {
  padding: 8px 30px 8px 30px;
  border: none;
  color: white;
  cursor: pointer;
}

.portfolio-keep-button {
  padding: 8px 30px 8px 30px;
  border: none;
  color: black;
  cursor: pointer;
}

#which-portfolio-to-delete {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#button-text {
  margin-left: 15px;
}
