.stock-list-page-container {
  margin: 50px 12px 50px 12px;
}

.stock-list-page-container h1 {
  font-weight: 550;
  font-size: 30px;
}

.stock-list-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 1200px;
  margin-top: 20px;
}

.stock-list-index-container {
  display: flex;
  gap: 45px;
  margin-left: 110px;
  width: 1200px;
}

.list-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100px;
}

.list-col-name {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

.link-to-stock {
  border-bottom: 1px solid transparent;
  color: var(--time-line);
  padding-bottom: 5px;
}

.link-to-stock:hover {
  color: var(--purple);
  border-bottom: 1px solid var(--purple);
}

.list-stocks-border {
  border: 0.5px solid var(--time-line);
  margin-left: 90px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.pagination a {
  color: var(--time-line);
  text-align: center;
  width: 20px;
  height: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid transparent;
}

.pagination a:hover {
  color: var(--purple);
  border-bottom: 2px solid var(--purple);
  padding-bottom: 20px;
}
