@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

#nu-footer-div {
	display: block;
	margin: 0;
	padding: 0;
}

#top-nu-footer,
#bottom-nu-footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

#top-left-nu-footer {
	font-family: "Lato", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: rgb(0, 0, 0);
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	box-sizing: border-box;
	padding: 24px;
	text-align: start;
	width: 100%;
	height: 100px;
}

.nu-footer-documents {
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.1px;
	line-height: 24px;
	text-decoration: underline solid;
	text-decoration-color: rgb(0, 0, 0);
	color: black;
}

#big-line {
	background: black;
	height: 100%;
	margin: 0px 8px;
	width: 1px;
}

#top-right-nu-footer {
	align-items: center;
	border-color: rgb(0, 0, 0);
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	box-sizing: border-box;
	display: flex;
	padding: 24px;
	text-align: start;
	width: 100%;
	height: 100px;
	justify-content: center;
	gap: 15px;
	font-size: 18px;
	font-family: "Karla", sans-serif;
}

#bottom-left-nu-footer {
	align-items: center;
	border-color: rgb(0, 0, 0);
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	box-sizing: border-box;
	display: flex;
	padding: 24px;
	text-align: start;
	width: 100%;
	flex-direction: column;
}
.bottom-nu-footer-headers {
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	visibility: visible;
	width: calc(100% + 0px);
}

#bottom-left-nu-footer h3,
#bottom-right-nu-footer h3 {
	font-family: "Lato", sans-serif;
	margin: 0px;
	color: rgb(0, 0, 0);
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -0.1px;
	line-height: 20px;
	text-decoration: unset;
	padding-bottom: 30px;
}

#bottom-nu-footer-links {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	width: 100%;
	box-sizing: border-box;
}

.footer-column {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#bottom-nu-footer-links h4 {
	margin-bottom: 10px;
	font-size: 16px;
	font-family: "Lato", sans-serif;
}

#bottom-nu-footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: "Karla", sans-serif;
	font-weight: 300;
	margin-left: 80px;
}

#bottom-nu-footer-links li {
	margin-bottom: 8px;
}

#bottom-nu-footer-links a {
	text-decoration: none;
	color: inherit;
}

#bottom-right-nu-footer {
	align-items: center;
	border-color: rgb(0, 0, 0);
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	box-sizing: border-box;
	display: flex;
	padding: 24px;
	text-align: start;
	width: 100%;
	align-items: start;
	flex-direction: column;
	gap: 25px;
}

#bottom-right-nu-footer h3 {
	padding-bottom: 0px;
}

#bottom-right-nu-footer p {
	font-family: "Karla", sans-serif;
	font-weight: 300;
}
