.sub-watchlist-main {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    width: max-content;
}

.spread-outer {
    width: 100%;
    border-bottom: 2px solid #C8CBCD;
}

.spread-outer:hover {
    background-color: #8A7C9C;
    cursor: pointer;
}

.subwatchlists {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
}

.subwatchlist-name p {
    width: 750px;
    font-weight: bold;
}
