@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.row {
    display: flex;
    flex-direction: row;

}

.gap {
    gap: 5rem
}

.watchlist-description {
    display: flex;
    flex-direction: row;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    justify-content: space-between;
}

.watchlist-options {
    display: flex;
    flex-direction: row;
}

.watchlist-stocks-headers-sort {
    display: flex;
    flex-direction: row;
    border-bottom: 2px #DFE0E5 solid;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}

.stock-information {
    display: flex;
    flex-direction: row;

}

.stock-information:hover {
    cursor: pointer;
    background-color: #C8CBCD;
}

.center {
    display: flex;
    justify-content: center;
}

.stock {
    display: flex;
    flex-direction: row;
    border-bottom: 2px lightgray solid;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}

.sub-watchlist {
    border: rgb(217, 217, 217) 2px solid;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px #DFE0E5;
    height: 90vh;
}


.sublist-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #DFE0E5;
}

.watchlist-sort-button {
    width: 95px;
}

.watchlist-sort-button-name {
    width: 250px;
}

.stock-name {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stock-link {
    width: 95px;
}

.subwatchlist:hover {
    cursor: pointer;
}

.subwatchlist {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 10px;

}

.watchlist-name p {
    width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.watchlist-name h2 {
    width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.hidden {
    display: none;
}

.profile-dropdown {
    background-color: white;
    border: black solid 2px;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    position: absolute;
}

.toggle-dropdown {
    display: flexbox;
    align-content: space-around;
    width: 100px;
    border-radius: 3px;
    height: 50px;
}


.sort-button {
    background-color: white;
    border: none;

}

.sort-button:hover {
    cursor: pointer;
}

.sort-button:hover {
    color: #8A7C9C;
    text-decoration: underline;
}


.selected {
    color: rgb(0, 255, 0);
    text-decoration: underline;
}

.watchlist-sort-button {
    display: flex;
    height: 25px;
}

.name {
    width: 250px
}

.listofwatchlists {
    margin-top: 20px;
}

.dropdownToggler {
    border: 1px solid;
    border-radius: 3px;
    padding: 3px;
    background-color: white;
}

.dropdownToggler:hover {
    cursor: pointer;
    background-color: #DFE0E5;
}

.create-watchlist-button {
    border: 1px solid;
    border-radius: 3px;
    padding: 3px;
    background-color: white;
}

.create-watchlist-button:hover {
    cursor: pointer;
    background-color: #DFE0E5;
}

.delete-watchlist-button {
    border: 1px solid;
    border-radius: 3px;
    padding: 3px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace
}

.delete-watchlist-button:hover {
    cursor: pointer;
    background-color: #DFE0E5;
}

.stock-link-delete {
    border: 1px solid;
    border-radius: 3px;
    padding: 3px;
    background-color: white;
    width: 30px;
}

.stock-link-delete:hover {
    cursor: pointer;
    background-color: #DFE0E5;
}

.delete-watchlist-button-confirm {
    background-color: white;
    border: none;
    height: 90%;
    margin-left: 20px;
    margin-top: 2px;
    font-family: "Karla";
}

.delete-watchlist-button-confirm:hover {
    cursor: pointer;
    color: #8A7C9C
}

body {
    font-family: 'Karla', sans-serif;
}


.modalbox {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px;
    border-radius: 200px;
}

.row-delete-stuff {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: flex-start
}

.deleteClose {
    background-color: white;
    border: none;
    font-size: large;

}

.deleteClose:hover {
    cursor: pointer;
    color: #C8CBCD;
}

.deleteClose+h2 {
    white-space: wrap;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
    text-wrap: wrap;
    max-width: 500px;
}


.modal-content {
    border-radius: 200px;
}

.watchlist-delete-button {
    width: 350px;
    height: 50px;
    background-color: #4D3F72;
    border-radius: 30px;
    font-family: "Karla";
    font-weight: bold;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.watchlist-delete-button:hover {
    background-color: #8A7C9C;
    cursor: pointer;
    color: black;
}

.input-style {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bigger {
    width: 40rem;
    height: 10rem;
}

.spread-out {
    gap: 25rem;

}

.name-change-input {
    width: 30rem;
    height: 2rem;
    padding: 5px
}

.watchlist-update-button {
    height: 30px;
    background-color: #4D3F72;
    border-radius: 30px;
    font-family: "Karla";
    font-weight: bold;
    color: white;

}

.watchlist-update-button:hover {
    background-color: #8A7C9C;
    cursor: pointer;
    color: black;
}

.watchlist-information {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.main-container {
    margin-top: 3rem;
}

.icon {
    margin-bottom: 15px;
}

.subwatchlist-description {
    display: flex;
    align-items: center;
    gap: 3px;
}

.delete-watchlist-button-sublist {
    margin-top: 5px;
}

.editlistbutton:hover {
    color: #8A7C9C;
}

.delete-watchlist-button-sublist:hover {
    color: #8A7C9C;
}


.watchlist-update-button:disabled {
    background-color: gray;
}
