header {
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border: 1px gray solid;
    border-radius: 25px;
}

#logo {
    height: 1.5rem;
    filter: invert(0%) sepia(0%) saturate(3000%) hue-rotate(300deg) brightness(100%) contrast(1000%);

}

#logo:hover{
    color: black;
    filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(50deg) brightness(100%) contrast(1000%);
    cursor: pointer;
}

#TopNavBarUl {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.TopNavBarNavLink {
    color: black;
    font-weight: bold;
    font-size: xx-small;
    text-wrap: nowrap;
    text-decoration: none;
    margin-right: 1rem;
}

.TopNavBarNavLink:hover {
    cursor: pointer;
    color: rgb(51, 214, 6);
}
