
#profile-button {
    margin: 0;
    height: 100px;
    width: 100px;
    border: none;
    background-color: white;
    padding: 0;
    text-align: center;
    font-size: larger;
}

#profile-button:hover {
    cursor: pointer;
}

#LuUserCircle2 {
    height: 100px;
    width: 100px;
    color: #FE595D;

}

#LuUserCircle2:hover {
    cursor: pointer;
    color: black;
}

#houdiniLiWrapperDiv {

position: relative;
border: 2px #FE595D solid;
background-color: #ffffff;
right: 15rem;
/* width: 14rem; */
box-shadow: 0px 0px 10px -2px rgb(255, 8, 0);


}

#manageSpotHiddenButton {
    color: none;
    background-color: white;
    border: none;
    margin: 0;
    padding: 0;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    list-style-type: none;


}

.hidden {
    display: none;
}

#logout {
    margin: 0;
    font-size: medium;
}

#houdini {
    position: absolute;
    z-index: 2;
}

#notLoggedIn {
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    left: -7rem;
    border: 2px #FE595D solid;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 0px 5px 0px rgb(255, 8, 0);
}


#notLoggedIn > li {
    margin: 0;
    padding: .5rem;
    border: 2px solid #FE595D;
    z-index: 2;
}

.notLoggedInButton {
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: #FE595D;
    background-color: white;
    border: none;
    z-index: 2;

}


.notLoggedInButton:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    font-weight: 600;
}




#houdiniLiWrapperDiv > li {

display: flex;
align-items: center;
padding-left: 1rem;
/* position: relative; */
border: 2px #FE595D solid;
background-color: #ffffff;
right: 15rem;
width: 14rem;
height: 2rem;

}

#manageSpotsNavLink {
    font-size: 16px;
    font-weight: 600;
    color: #FE595D;
}

#userLogoutButton {
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: #FE595D;
    background-color: white;
    border: none;
}

#manageSpotsNavLink:hover, #userLogoutButton:hover {
    cursor: pointer;
    color: black;
    font-weight: 600;
}
